<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
<Console name="Console" target="SYSTEM_OUT">
  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
</Console>
<RollingFile 
    name="FILE" fileName="results/logs/samos-${date:yyyy-MM-dd'_'HH-mm-ss}.log" 
    filePattern="results/logs/samos-%d{yyyy-MM-dd}-%i.log"
    ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd'_'HH-mm-ss} %p %m%n</Pattern>
        </PatternLayout>
        <TimeBasedTriggeringPolicy />
</RollingFile>

</Appenders>
<Loggers>
<Root level="DEBUG">
  <AppenderRef ref="Console"/>
   <AppenderRef ref="FILE"/>
</Root>
</Loggers>
</Configuration>